body {
	line-height: 1;
    background-color: var(--bg);
    font-family: 'Poppins', sans-serif;
}
ol, ul, li {
	list-style: none!important;
	margin: 0;
	padding: 0;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
	text-decoration: none;
}
.lexury{
	background-image: url(../img/bg-c.png);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
}