header {
    .logo {
        img {
            height: 68px;
        }
    }
    .lg-main-menu {
        background: #000;
        display: none;
        @media (min-width: 992px) {
            position: absolute;
            right: 10px;
            top: 70px;
            padding: 8px;
            display: block;
        }
        @media (min-width: 1200px) {
            right: 20px;
            top: 80px;
            padding: 10px;
            display: block;
        }
    }
    .language {
        width: 100px;
    }
    .btn-menu {
        border: none;
        background: none;
    }
}

.watsap{
    a{
        display: block;
        width: 60px;
        height: 60px;
        background-color: #27AE60;
        border-radius: 160px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 26px;
        position: fixed;
        right: 20px;
        top: 50%;
    }
}

.offcanvas {
    background-color: var(--black);
    background-image: url(../img/vivace.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    align-items: center;
    .sm-menus {
        li {
            display: block;
            text-align: center;
            padding: 20px 0px;
            a {
                color: var(--white);
                font-size: 24px;
            }
        }
    }
}
.offcanvas-body {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.social {
    display: flex;
    li {
        a {
            display: flex;
            width: 39px;
            height: 39px;
            background-color: var(--black);
            justify-content: center;
            align-items: center;
            color: var(--white);
        }
    }
}