.hover-rotate {
    overflow: hidden;
    width: 100%;
    position: relative;

    @media (min-width: 1200px) {
        min-width: 240px;
        max-width: 320px;
    }
}

.over-box {
    width: 100%;
    height: 100%;
    padding: 20px;
    text-align: center;
    display: flex;
    align-items: flex-end;
    color: var(--white);
    position: absolute;
    justify-content: center;
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 9;
    transition: all 0.3s;
    padding-bottom: 30px;
}

.hover-rotate img {
    transition: all 0.3s;
    box-sizing: border-box;
    max-width: 100%;
    width: 100%;
}

.hover-rotate:hover img {
    transform: scale(1.3) rotate(5deg);
}

.hover-rotate:hover .over-box {
    padding-bottom: 60px;
}

.lexuary-box {
    width: 100%;
    height: 458px;

    img {
        width: 100%;
        height: 458px;
        object-fit: cover;
    }
}

.text-strip {
    width: 100px;

    @media (min-width: 1200px) {
        width: auto;
    }
}

.project-box {
    width: 100%;
    height: 436px;
    background-color: #000;
    position: relative;
    transition: all 0.3s;
    &:hover{
        opacity: 0.5;
    }

    img {
        width: 100%;
        height: 436px;
        object-fit: cover;
        position: relative;
    }
}