:root {
  --bg:#26282F;
  --black:#000;
  --white:#fff;
}

body {
  line-height: 1;
  background-color: var(--bg);
  font-family: "Poppins", sans-serif;
}

ol, ul, li {
  list-style: none !important;
  margin: 0;
  padding: 0;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

.lexury {
  background-image: url(../img/bg-c.png);
  background-position: top center;
  background-repeat: no-repeat;
  background-size: cover;
}

.opacity-5 {
  opacity: 0.5;
}

.btn-primary {
  min-width: 130px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0px 20px;
  height: 40px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 3px;
}

.hover-rotate {
  overflow: hidden;
  width: 100%;
  position: relative;
}
@media (min-width: 1200px) {
  .hover-rotate {
    min-width: 240px;
    max-width: 320px;
  }
}

.over-box {
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: center;
  display: flex;
  align-items: flex-end;
  color: var(--white);
  position: absolute;
  justify-content: center;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  z-index: 9;
  transition: all 0.3s;
  padding-bottom: 30px;
}

.hover-rotate img {
  transition: all 0.3s;
  box-sizing: border-box;
  max-width: 100%;
  width: 100%;
}

.hover-rotate:hover img {
  transform: scale(1.3) rotate(5deg);
}

.hover-rotate:hover .over-box {
  padding-bottom: 60px;
}

.lexuary-box {
  width: 100%;
  height: 458px;
}
.lexuary-box img {
  width: 100%;
  height: 458px;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-strip {
  width: 100px;
}
@media (min-width: 1200px) {
  .text-strip {
    width: auto;
  }
}

header .logo img {
  height: 68px;
}
header .lg-main-menu {
  background: #000;
  display: none;
}
@media (min-width: 992px) {
  header .lg-main-menu {
    position: absolute;
    right: 10px;
    top: 70px;
    padding: 8px;
    display: block;
  }
}
@media (min-width: 1200px) {
  header .lg-main-menu {
    right: 20px;
    top: 80px;
    padding: 10px;
    display: block;
  }
}
header .language {
  width: 100px;
}
header .btn-menu {
  border: none;
  background: none;
}

.watsap a {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #27AE60;
  border-radius: 160px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 26px;
  position: fixed;
  right: 20px;
  top: 50%;
}

.offcanvas {
  background-color: var(--black);
  background-image: url(../img/vivace.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  align-items: center;
}
.offcanvas .sm-menus li {
  display: block;
  text-align: center;
  padding: 20px 0px;
}
.offcanvas .sm-menus li a {
  color: var(--white);
  font-size: 24px;
}

.offcanvas-body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.social {
  display: flex;
}
.social li a {
  display: flex;
  width: 39px;
  height: 39px;
  background-color: var(--black);
  justify-content: center;
  align-items: center;
  color: var(--white);
}

.mr-5 {
  margin-right: 20px;
}

.bg-black {
  background-color: var(--black);
}

.bg-white {
  background-color: var(--white);
}

.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.titles {
  font-weight: 600;
  color: var(--white);
  font-size: 20px;
}
@media (min-width: 992px) {
  .titles {
    font-size: 25px;
  }
}
@media (min-width: 1200px) {
  .titles {
    font-size: 35px;
  }
}

.sub-titles {
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  background: linear-gradient(267.64deg, #c5a102 0%, rgba(197, 107, 2, 0.44) 99.03%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}
@media (min-width: 992px) {
  .sub-titles {
    font-size: 20px;
  }
}
@media (min-width: 1200px) {
  .sub-titles {
    font-size: 24px;
  }
}

.paragraph {
  font-weight: 500;
  font-size: 14px;
  line-height: 28px;
}
@media (min-width: 1200px) {
  .paragraph {
    font-size: 16px;
  }
}

.banner {
  height: auto;
  overflow: hidden;
}
@media (min-width: 992px) {
  .banner {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .banner {
    height: calc(100vh - 68px);
  }
}
.banner img {
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (min-width: 992px) {
  .banner img {
    height: 500px;
  }
}
@media (min-width: 1200px) {
  .banner img {
    height: calc(100vh - 68px);
  }
}

.sp-section-top {
  padding-top: 30px;
}
@media (min-width: 992px) {
  .sp-section-top {
    padding-top: 50px;
  }
}
@media (min-width: 1200px) {
  .sp-section-top {
    padding-top: 100px;
  }
}

.sp-section-bottom {
  padding-bottom: 30px;
}
@media (min-width: 992px) {
  .sp-section-bottom {
    padding-bottom: 50px;
  }
}
@media (min-width: 1200px) {
  .sp-section-bottom {
    padding-bottom: 100px;
  }
}

.portfolio {
  background: linear-gradient(180deg, #151618 0%, rgba(21, 22, 24, 0) 100%);
}

.q-box {
  width: 100%;
  background-image: url(../img/bg-qoutes.png);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px;
}

.contact-small-box {
  background-color: var(--black);
}

.form {
  background-color: #181a20;
}

.video-box {
  width: 100%;
  height: 400px;
  position: relative;
}
.video-box img {
  width: 100%;
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
}
.video-box .over-lay {
  width: 100%;
  height: 100%;
  background: rgb(0, 0, 0);
  background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0) 100%);
  position: absolute;
  padding: 40px;
}
.video-box .over-lay i {
  display: flex;
  width: 36px;
  height: 36px;
  border-radius: 160px;
  border: 1px solid #e1e1e1;
  align-items: center;
  justify-content: center;
}
.video-box .over-lay a {
  color: #fff;
  transition: all 0.3s;
}
.video-box .over-lay a:hover {
  opacity: 0.6;
}
.video-box .over-lay .strip {
  height: auto;
  width: 100px;
}

footer .social li {
  padding: 30px;
}
footer .bg-text {
  background-image: url(../img/vivace.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.inner {
  width: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media (min-width: 992px) {
  .inner {
    padding: 0px;
  }
}
@media (min-width: 992px) {
  .inner .container-xl {
    height: 216px;
  }
}
.inner a {
  font-size: 16px;
  line-height: 36px;
  text-align: right;
  letter-spacing: 0.25em;
  text-transform: uppercase;
}

.about-inner {
  background-image: url(../img/abt-banner.png);
}

.hero-intro {
  background-image: url(../img/samples/intro-calm.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 550px;
  background-color: #000;
}

.form-control {
  background: none !important;
  border: 1px solid #3b3c3f;
  font-size: 14px;
}

.form-floating > label {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}/*# sourceMappingURL=main.css.map */