:root{
    --bg:#26282F;
    --black:#000;
    --white:#fff;
}

@import "base.scss";
@import "button.scss";
@import "image.scss";
@import "header.scss";
@import "footer.scss";
@import "space.scss";
@import "text.scss";
@import "color.scss";
@import "banner.scss";
@import "sections.scss";
@import "form.scss";




